Repository jyablonski/nba_elt_mlflow, changes with the labels that .github/labeler.yml gives for each.
All labels: source_code, cd, ci, dependencies, ml_model

.github/labeler.yml:

source_code:
- src/*
- tests/*

cd:
- .github/workflows/deploy.yml
- docker/*

ci:
- .github/workflows/test.yml

dependencies:
- poetry.lock

ml_model:
- src/log_model.joblib

ML Pipeline Prod Release v1.6.8 (#25)
  .bumpversion.cfg
  README.md
  VERSION
  docker/docker-compose-postgres.yml
  docker/docker-compose-test.yml
  docker/docker-compose.yml
  docker/postgres_bootstrap.sql
  src/app.py
  src/utils.py
  tests/integration/calculate_win_pct_test.py
Labels: source_code, cd

add
  .dvc/.gitignore
  .dvc/README.md
  .dvc/config
  .dvcignore
  .gitignore
  data/.gitignore
  data/past_games_2023-10-18.csv.dvc
  dvc.lock
  dvc.yaml
  poetry.lock
  practice/dvc_training.py
  pyproject.toml
Labels: dependencies

Bump version: 1.6.8 → 1.6.9
  .bumpversion.cfg
  README.md
  VERSION
  src/app.py
Labels: source_code

z
  practice/dvc_training.py
Labels: none

move dvc to local poetry
  poetry.lock
  pyproject.toml
Labels: dependencies

ML Pipeline v1.6.9 (#26)
  .bumpversion.cfg
  .dvc/.gitignore
  .dvc/README.md
  .dvc/config
  .dvcignore
  .gitignore
  README.md
  VERSION
  data/.gitignore
  data/past_games_2023-10-18.csv.dvc
  dvc.lock
  dvc.yaml
  poetry.lock
  practice/dvc_training.py
  pyproject.toml
  src/app.py
Labels: source_code, dependencies

fix cd
  .github/workflows/deploy.yml
Labels: cd

add
  .github/workflows/deploy.yml
  .tool-versions
  docker/Dockerfile
  docker/Dockerfile.test
  docker/postgres_bootstrap.sql
  poetry.lock
  pyproject.toml
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/integration/calculate_win_pct_test.py
Labels: source_code, cd, dependencies

Bump version: 1.6.9 → 1.7.0
  .bumpversion.cfg
  README.md
  VERSION
  src/app.py
Labels: source_code

dry up dockerifles
  .github/workflows/test.yml
  docker/Dockerfile
  docker/Dockerfile.test
Labels: cd, ci

update
  .github/workflows/test.yml
  docker/install_packages.sh
Labels: cd, ci

add color
  docker/docker-compose-test.yml
Labels: cd

add
  .dockerignore
  docker/docker-compose-postgres.yml
  docker/docker-compose-test.yml
  poetry.lock
  pyproject.toml
Labels: cd, dependencies

ML v1.7.0 (#27)
  .bumpversion.cfg
  .dockerignore
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .tool-versions
  README.md
  VERSION
  docker/Dockerfile
  docker/Dockerfile.test
  docker/docker-compose-postgres.yml
  docker/docker-compose-test.yml
  docker/install_packages.sh
  docker/postgres_bootstrap.sql
  poetry.lock
  pyproject.toml
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/integration/calculate_win_pct_test.py
Labels: source_code, cd, ci, dependencies

add package yo
  .dockerignore
  .pre-commit-config.yaml
  .tool-versions
  Makefile
  docker/postgres_bootstrap.sql
  poetry.lock
  pyproject.toml
  src/app.py
  src/utils.py
  test.csv
  tests/conftest.py
  tests/integration/calculate_win_pct_test.py
  tests/integration/get_feature_flags_test.py
  tests/unit/calculate_win_pct_logic_test.py
Labels: source_code, cd, dependencies

ML v1.7.1 (#28)
  .dockerignore
  .pre-commit-config.yaml
  .tool-versions
  Makefile
  docker/postgres_bootstrap.sql
  poetry.lock
  pyproject.toml
  src/app.py
  src/utils.py
  test.csv
  tests/conftest.py
  tests/integration/calculate_win_pct_test.py
  tests/integration/get_feature_flags_test.py
  tests/unit/calculate_win_pct_logic_test.py
Labels: source_code, cd, dependencies

use uv
  docker/Dockerfile
  docker/Dockerfile.test
  poetry.lock
  pyproject.toml
  uv.lock
Labels: cd, dependencies

Bump version: 1.7.0 → 1.8.0
  .bumpversion.cfg
  README.md
  VERSION
  src/app.py
Labels: source_code

rename
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Labels: cd, ci

change
  Makefile
Labels: none

ML v1.8.0 (#29)
  .bumpversion.cfg
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  Makefile
  README.md
  VERSION
  docker/Dockerfile
  docker/Dockerfile.test
  poetry.lock
  pyproject.toml
  src/app.py
  uv.lock
Labels: source_code, cd, ci, dependencies

add
  .github/workflows/deploy.yml
Labels: cd

Bump version: 1.8.0 → 1.8.1
  .bumpversion.cfg
  README.md
  VERSION
  src/app.py
Labels: source_code

update
  docker/Dockerfile
  docker/Dockerfile.test
  docker/docker-compose-test.yml
  docker/docker-compose.yml
  docker/install_packages.sh
Labels: cd

ML v1.8.1 (#30)
  .bumpversion.cfg
  .github/workflows/deploy.yml
  README.md
  VERSION
  docker/Dockerfile
  docker/Dockerfile.test
  docker/docker-compose-test.yml
  docker/docker-compose.yml
  docker/install_packages.sh
  src/app.py
Labels: source_code, cd

add
  .bumpversion.cfg
  .github/workflows/test.yml
  Makefile
  README.md
  VERSION
  docker/Dockerfile
  docker/docker-compose-test.yml
  docker/postgres_bootstrap.sql
  pyproject.toml
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/integration/calculate_win_pct_test.py
  uv.lock
Labels: source_code, cd, ci

add
  README.md
Labels: none

add
  docker/postgres_bootstrap.sql
  src/app.py
  tests/integration/calculate_win_pct_test.py
Labels: source_code, cd

add
  docker/postgres_bootstrap.sql
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/integration/calculate_win_pct_test.py
  tests/integration/get_feature_flags_test.py
Labels: source_code, cd

add
  docker/docker-compose-test.yml
  pyproject.toml
  src/app.py
  src/utils.py
  tests/integration/calculate_win_pct_test.py
  tests/integration/ml_predictions_test.py
  tests/unit/calculate_win_pct_logic_test.py
  uv.lock
Labels: source_code, cd

add
  src/utils.py
  uv.lock
Labels: source_code

add
  .pre-commit-config.yaml
Labels: none

yee
  src/app.py
Labels: source_code

zz
  src/app.py
Labels: source_code

zz
  Makefile
Labels: none

zz
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Labels: ci

z
  .github/workflows/deploy.yml
Labels: cd

yee
  .github/workflows/deploy.yml
Labels: cd

fuckoff mate
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Labels: cd, ci

yee
  .github/workflows/ci_cd.yml
  .github/workflows/test.yml
Labels: ci
