Repository jyablonski/nba_elt_mlflow, changes with the labels that .github/labeler.yml gives for each.
All labels: source_code, cd, ci, dependencies, ml_model

.github/labeler.yml:

source_code:
- src/*
- tests/*

cd:
- .github/workflows/deploy.yml
- docker/*

ci:
- .github/workflows/test.yml

dependencies:
- poetry.lock

ml_model:
- src/log_model.joblib

add
  practice/past_games_2023-10-18.csv
  practice/training_v2.py
  tests/integration/calculate_win_pct_test.py
Labels: none

add
  docker/postgres_bootstrap.sql
  practice/random_forest.py
  practice/training_v2.py
  src/app.py
  src/utils.py
  tests/integration/calculate_win_pct_test.py
  tests/unit/calculate_win_pct_logic_test.py
Labels: source_code, cd

Bump version: 1.6.0 → 1.6.1
  .bumpversion.cfg
  README.md
  VERSION
  src/app.py
Labels: source_code

remopve dat
  docker/postgres_bootstrap.sql
Labels: cd

remove these csvs
  .gitignore
  practice/past_games.csv
  practice/past_games_2023-10-18.csv
  practice/test.csv
Labels: none

ML Pipeline Prod Release v1.6.1 (#18)
  .bumpversion.cfg
  .gitignore
  README.md
  VERSION
  docker/postgres_bootstrap.sql
  practice/past_games.csv
  practice/random_forest.py
  practice/test.csv
  practice/training_v2.py
  src/app.py
  src/utils.py
  tests/integration/calculate_win_pct_test.py
  tests/unit/calculate_win_pct_logic_test.py
Labels: source_code, cd

update path for log model
  src/app.py
Labels: source_code

Bump version: 1.6.1 → 1.6.2
  .bumpversion.cfg
  README.md
  VERSION
  src/app.py
Labels: source_code

mv
  .github/pull_request_template.md
Labels: none

ML Pipeline Prod Release v1.6.2 (#19)
  .bumpversion.cfg
  .github/pull_request_template.md
  README.md
  VERSION
  src/app.py
Labels: source_code

add
  docker/postgres_bootstrap.sql
  src/utils.py
  tests/fixtures/full_df_test.csv
  tests/unit/calculate_win_pct_logic_test.py
Labels: source_code, cd

Bump version: 1.6.2 → 1.6.3
  .bumpversion.cfg
  README.md
  VERSION
  src/app.py
Labels: source_code

update readme
  README.md
Labels: none

ML Pipeline Prod Release v1.6.3 (#20)
  .bumpversion.cfg
  README.md
  VERSION
  docker/postgres_bootstrap.sql
  src/app.py
  src/utils.py
  tests/fixtures/full_df_test.csv
  tests/unit/calculate_win_pct_logic_test.py
Labels: source_code, cd

add
  .gitignore
  README.md
  poetry.lock
  practice/ec2_prac.ipynb
  practice/extra.py
  practice/linear_reg.py
  practice/main.py
  practice/nba_main.ipynb
  practice/retrain.ipynb
  practice/training_v2.py
  pyproject.toml
  src/utils.py
Labels: source_code, dependencies

Bump version: 1.6.3 → 1.6.4
  .bumpversion.cfg
  README.md
  VERSION
  src/app.py
Labels: source_code

ML Pipeline Prod Release v1.6.4 (#21)
  .bumpversion.cfg
  .gitignore
  README.md
  VERSION
  poetry.lock
  practice/ec2_prac.ipynb
  practice/extra.py
  practice/linear_reg.py
  practice/main.py
  practice/nba_main.ipynb
  practice/retrain.ipynb
  practice/training_v2.py
  pyproject.toml
  src/app.py
  src/utils.py
Labels: source_code, dependencies

add
  README.md
Labels: none

Bump version: 1.6.4 → 1.6.5
  .bumpversion.cfg
  README.md
  VERSION
  src/app.py
Labels: source_code

add
  README.md
Labels: none

Bump version: 1.6.4 → 1.6.5
  .bumpversion.cfg
  README.md
  VERSION
  src/app.py
Labels: source_code

add
  README.md
Labels: none

ML Pipeline Prod Release v1.6.5 (#22)
  .bumpversion.cfg
  README.md
  VERSION
  src/app.py
Labels: source_code

ad
  .github/workflows/test.yml
  docker/Dockerfile.test
  pyproject.toml
  src/app.py
  src/utils.py
Labels: source_code, cd, ci

use context manaager
  src/app.py
Labels: source_code

add mypy hook
  .pre-commit-config.yaml
Labels: none

spacing is hard
  .pre-commit-config.yaml
Labels: none

z
  README.md
Labels: none

Bump version: 1.6.5 → 1.6.6
  .bumpversion.cfg
  README.md
  VERSION
  src/app.py
Labels: source_code

lock the mf
  poetry.lock
Labels: dependencies

zz
  .pre-commit-config.yaml
Labels: none

ML Pipeline Prod Release v1.6.6 (#23)
  .bumpversion.cfg
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.md
  VERSION
  docker/Dockerfile.test
  poetry.lock
  pyproject.toml
  src/app.py
  src/utils.py
Labels: source_code, cd, ci, dependencies

add
  src/app.py
Labels: source_code

Bump version: 1.6.6 → 1.6.7
  .bumpversion.cfg
  README.md
  VERSION
  src/app.py
Labels: source_code

ML Pipeline Prod Release v1.6.7 (#24)
  .bumpversion.cfg
  README.md
  VERSION
  src/app.py
Labels: source_code

add
  README.md
  docker/docker-compose-postgres.yml
  docker/docker-compose-test.yml
  docker/docker-compose.yml
  src/app.py
  src/utils.py
Labels: source_code, cd

Bump version: 1.6.7 → 1.6.8
  .bumpversion.cfg
  README.md
  VERSION
  src/app.py
Labels: source_code

z
  docker/postgres_bootstrap.sql
Labels: cd

s
  tests/integration/calculate_win_pct_test.py
Labels: none

add
  tests/integration/calculate_win_pct_test.py
Labels: none
