Repository jyablonski/nba_elt_mlflow, changes with the labels that .github/labeler.yml gives for each.
All labels: source_code, cd, ci, dependencies, ml_model

ml <> schema rearchitecture (#31)
  .bumpversion.cfg
  .github/workflows/ci_cd.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  VERSION
  docker/Dockerfile
  docker/docker-compose-test.yml
  docker/postgres_bootstrap.sql
  pyproject.toml
  src/app.py
  src/utils.py
  tests/conftest.py
  tests/integration/calculate_win_pct_test.py
  tests/integration/get_feature_flags_test.py
  tests/integration/ml_predictions_test.py
  tests/unit/calculate_win_pct_logic_test.py
  uv.lock
Labels: source_code, cd, ci

Add ml_experiments package for improved model training and comparison
  ml_experiments/__init__.py
  ml_experiments/config.py
  ml_experiments/data_generator.py
  ml_experiments/evaluation.py
  ml_experiments/feature_engineering.py
  ml_experiments/model_comparison.py
  ml_experiments/models.py
  ml_experiments/run_experiments.py
  ml_experiments/training_pipeline.py
  pyproject.toml
Labels: none

Add README documentation for ml_experiments package
  ml_experiments/README.md
Labels: none

add
  README.md
  ml_experiments/README.md
Labels: none

fix errors
  ml_experiments/data_generator.py
  ml_experiments/evaluation.py
  ml_experiments/model_comparison.py
  ml_experiments/run_experiments.py
  ml_experiments/training_pipeline.py
  uv.lock
Labels: none

add
  .gitignore
  docker/Dockerfile
  docker/docker-compose-test.yml
  docker/postgres_bootstrap.sql
  ml_experiments/README.md
  ml_experiments/__init__.py
  ml_experiments/config.py
  ml_experiments/data_generator.py
  ml_experiments/evaluation.py
  ml_experiments/feature_engineering.py
  ml_experiments/model_comparison.py
  ml_experiments/models.py
  ml_experiments/run_experiments.py
  ml_experiments/training_pipeline.py
  src/log_model_v2.joblib
  src/utils.py
  tests/conftest.py
  tests/fixtures/log_model_v2.joblib
  tests/integration/ml_predictions_v2_test.py
Labels: source_code, cd

add
  .dvc/.gitignore
  .dvc/README.md
  .dvc/config
  .dvcignore
  README.md
  tests/conftest.py
  tests/integration/load_v2_artifacts_test.py
  tests/integration/ml_predictions_v2_test.py
Labels: source_code

add
  tests/integration/ml_predictions_v2_test.py
Labels: none

z
  README.md
Labels: none

add ml_experiments directory (#32)
  .dvc/.gitignore
  .dvc/README.md
  .dvc/config
  .dvcignore
  .gitignore
  README.md
  docker/Dockerfile
  docker/docker-compose-test.yml
  docker/postgres_bootstrap.sql
  ml_experiments/README.md
  ml_experiments/__init__.py
  ml_experiments/config.py
  ml_experiments/data_generator.py
  ml_experiments/evaluation.py
  ml_experiments/feature_engineering.py
  ml_experiments/model_comparison.py
  ml_experiments/models.py
  ml_experiments/run_experiments.py
  ml_experiments/training_pipeline.py
  pyproject.toml
  src/log_model_v2.joblib
  src/utils.py
  tests/conftest.py
  tests/fixtures/log_model_v2.joblib
  tests/integration/load_v2_artifacts_test.py
  tests/integration/ml_predictions_v2_test.py
  uv.lock
Labels: source_code, cd

add ml_experiments directory (#32)
  .dvc/.gitignore
  .dvc/README.md
  .dvc/config
  .dvcignore
  .gitignore
  README.md
  docker/Dockerfile
  docker/docker-compose-test.yml
  docker/postgres_bootstrap.sql
  ml_experiments/README.md
  ml_experiments/__init__.py
  ml_experiments/config.py
  ml_experiments/data_generator.py
  ml_experiments/evaluation.py
  ml_experiments/feature_engineering.py
  ml_experiments/model_comparison.py
  ml_experiments/models.py
  ml_experiments/run_experiments.py
  ml_experiments/training_pipeline.py
  pyproject.toml
  src/log_model_v2.joblib
  src/utils.py
  tests/conftest.py
  tests/fixtures/log_model_v2.joblib
  tests/integration/load_v2_artifacts_test.py
  tests/integration/ml_predictions_v2_test.py
  uv.lock
Labels: source_code, cd

feat: add the goods
  .github/workflows/ci_cd.yml
  .gitignore
  Makefile
  README.md
  docker/Dockerfile
  docker/docker-compose-postgres.yml
  docker/docker-compose-test.yml
  pyproject.toml
  src/app.py
  src/dashboard_refresh.py
  src/utils.py
  tests/conftest.py
  tests/integration/load_v2_artifacts_test.py
  tests/unit/dashboard_refresh_test.py
  tests/unit/test_app.py
  uv.lock
Labels: source_code, cd

feat(ml): add dashboard refresh and post-run health checks (#33)
  .github/workflows/ci_cd.yml
  .gitignore
  Makefile
  README.md
  docker/Dockerfile
  docker/docker-compose-postgres.yml
  docker/docker-compose-test.yml
  pyproject.toml
  src/app.py
  src/dashboard_refresh.py
  src/utils.py
  tests/conftest.py
  tests/integration/load_v2_artifacts_test.py
  tests/unit/dashboard_refresh_test.py
  tests/unit/test_app.py
  uv.lock
Labels: source_code, cd

feat: clean up `app.py`
  .github/workflows/ci_cd.yml
  docker/Dockerfile
  src/app.py
  tests/integration/app_test.py
  tests/unit/test_app.py
Labels: source_code, cd

chore: clean up pipeline flow (#34)
  .github/workflows/ci_cd.yml
  docker/Dockerfile
  src/app.py
  tests/integration/app_test.py
  tests/unit/test_app.py
Labels: source_code, cd

.github/labeler.yml:

source_code:
- src/*
- tests/*

cd:
- .github/workflows/deploy.yml
- docker/*

ci:
- .github/workflows/test.yml

dependencies:
- poetry.lock

ml_model:
- src/log_model.joblib
